.header {
    margin: 0;
    padding: 0;
    color: darkred;
    font-family: cursive;
    text-align: center;
}

.resources {
    border: 5px solid navy;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
}

.link {
    color: ghostwhite;
    text-decoration: none;
}

.plink {
  color: lightslategray;
    text-decoration: none;
}

.link:hover {color: darkgoldenrod;
    text-decoration: underline;}

.plink:hover {color: darkcyan;
      text-decoration: underline;}

.projectHead{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.center {
  width: 200;
  height: 300; 
  margin: 5px; 
  }

  .description {
    margin: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px 5;
    gap: 10px;
  }
